@font-face {
    font-family: StormGust;
    src: url(Storm\ Gust.ttf);
}

body {
    background-color: black;
    color: red;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}